.card_group {
    position: relative;
    left: 5%;
    width: 90%;
}

.card_group_title {
    position: relative;
    left: 0;
    right: 0;
    margin: 35px auto 20px;
    text-align: center;
}

.card_group_title_animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #EC6E70;
    z-index: 999;
    text-align: center;
}

.card_group_items {
    width: 100%;
    height: 520px;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.card_group_card {
    width: 15rem;
    display: inline-block;
    margin: 1rem;
}

.card_group_card:hover {
    background: lightgrey;
}

.card_group_error {
    height: 600px;
    line-height: 600px;
    text-align: center;
}

.card_group_content_fix{
    position: relative;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_group_content {
    position: absolute;
    background-color: lightgrey;
    top: 0;
    left: 0;
    width: 210px;
    height: 20px;
    overflow: hidden;
    display: none;
}

.card_group_content_animation {
    position: relative;
    width: fit-content;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.card_group_card:hover .card_group_content {
    display: block;
}

.card_group_card:hover .card_group_content_animation {
    display: block;
    animation-play-state: running;
}

@keyframes move {
    0% {
        left: 0;
    }
    100% {
        left: calc(-50% - 18px);
    }
}