.navbar_button {
    width: 150px;
    background: #EC6E70;
    border: 1px solid #EC6E70;
    border-radius: 15px;
}

.navbar_button:hover {
    background: #F68D8F;
    border-color: #F68D8F;
}

.navbar_button_group {
    float: right;
    margin-left: 10px;
}

.navbar_input {
    width: 450px;
    margin-top: 2px;
    height: 35px;
    border: none;
    flex: 3;
}

.navbar_form {
    width: 630px;
    height: 50px;
    line-height: 30px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

.home_search_box {
    width: 100%;
    height: var(--search_height);
    margin-bottom: 50px;
}

.home_search_box_content {
    position: relative;
    top: var(--search_content_position);
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

.home_search_icon {
    position: absolute;
    background: #EC6E70 url("images/icon_vertical.png");
    background-size: cover;
    width: 450px;
    height: 200px;
    top: -260px;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px white solid;
    border-radius: 15px;
}

.home_interval {
    position: relative;
    border-top: 3px solid lightgrey;
    width: 85%;
    left: 7.5%;
}

.home_bottom {
    position: relative;
    height: 350px;
    margin-top: -3px;
    background: #EC6E70;
    z-index: 0;
}

.home_bottom_title {
    position: absolute;
    height: 60px;
    left: 15%;
    margin-top: 50px;
    background-color: #EC6E70;
}

.home_bottom_title_icon {
    position: relative;
    width: 60px;
    height: 60px;
    background: url("images/mail_icon.png");
    background-size: cover;
    display: inline-block;
}

.home_bottom_title_text {
    position: relative;
    height: 60px;
    left: 20px;
    line-height: 60px;
    font-size: 35px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.home_bottom_content {
    position: absolute;
    height: 200px;
    left: 15%;
    margin-top: 110px;
    display: inline-block;
    background-color: #EC6E70;
}

.home_bottom_icon {
    position: absolute;
    height: 160px;
    width: 360px;
    right: 15%;
    margin-top: 100px;
    background: url("images/icon_vertical.png");
    background-size: cover;
    z-index: 0;
}
.home_cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
    animation-name: vanish;
    animation-play-state: paused;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes vanish {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
.home_cover_img{
    position: absolute;
    left: 0;
    right:0;
    top:-60px;
    bottom:0;
    width: 400px;
    height:300px;
    margin: auto;
}