.Ing {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    border: lightsteelblue 2px solid;
    background-color: lightsteelblue;
}



/* Table CSS */
.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table > thead {
    background-color: lightsteelblue;
}

.table > tbody > tr:nth-child(even) {
    background-color: aliceblue;
}
.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table td, .table th {
    padding: 10px;
    text-align: center;
    border-left: 1px solid lightsteelblue;
    border-right: 1px solid lightsteelblue;
}

