.Ins{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    background: #edd170;
    border: 2px #edd170 solid;
}

/* Table CSS */
.table {
    border-collapse: collapse;
    text-align: left;
}

.table > thead {
    background-color: #edd170;
}

.table > tbody > tr:nth-child(even) {
    background-color: rgb(255, 243, 211);
}
.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table td, .table th {
    padding: 10px;
    border-left: 1px #edd170 solid;
    border-right: 1px #edd170 solid;

}

.table th {
    padding: 10px;
    text-align: center;
}

.Ins_index {
    text-align: center;
}