.card_group_items {
    width: 1370px;
    text-align: left;
    left: 0;
    right: 0;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: rgb(238, 238, 20);
    background-color: #34416a;
}

