.card_group_items {
    width: 1100px;
    text-align: left;
    margin-bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(238, 238, 20);
    background-color: #34416a;
}

