.navbar {
    background-color: #EC6E70;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .navbar__icon {
    margin-right: 10px;
    width: 20%;
  }
  
  .navbar__form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    flex: 1;
    padding: 5px 10px;
  }
  
  .navbar__input {
    border: none;
    flex: 3;
  }
  
  .navbar__button {
    background-color: #F68D8F;
    color: white;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
  }
  
  .login__button {
    background-color: #EC6E70;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
  }
  .signup__button {
    background-color: white;
    color: #EC6E70;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
}